.container {
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.wrapper {
  font-weight: 500;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.button {
  width: 70px;
  font-size: 10px;
  cursor: pointer;
  background-color: #4d5ae5;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
button:hover,
button:focus {
  background-color: #404bbf;
}

.buttons {
  display: flex;
  gap: 8px;
}
