.form {
  outline: transparent;
  border-radius: 4px;
  padding: 10px;
  width: 330px;
  border: 1px solid #000000;
  border-radius: 4px;
  margin-bottom: 16px;
}

.group {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-bottom: 10px;
}

.input {
  outline: transparent;
  border-radius: 4px;
}

.input:hover,
.input:focus {
  border-color: blue;
}

.error {
  color: red;
}

.button {
  background-color: #4d5ae5;
  cursor: pointer;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
button:hover,
button:focus {
  background-color: #404bbf;
}
